/*scrolling*/
html { overflow-x:hidden; }
body { position: absolute; }


/* Color */
:root {
    --body-color:#FDEFC2;
    --upload-button: #D1FFE4;
    /* --hover: #90c2a5; */
    --text-box: #EFFAD9;
    --header-box: #BDE3BA; 
    --footer-box: #FFF7D1;
    --font-color: #333333;
    --hover: #97c7ab;
    --fileUpload: #A7C9C0;
    --fileUploadHover: #88aca2;
    --submit: #91C9A3; 
    --submitHover: #689977;
    --home: #FCBEB6; 
    --homeHover: #d39e97;
}

html::-webkit-scrollbar {
    width: 20px; 
 }

html::-webkit-scrollbar-track {
  background-color: black;
}

html::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}

body, h1, h2, h3, html, div, a, p, form
li, ul{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

/* Header, footer, and background */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--body-color);
    min-height: 100vh;
}


header {
    height: 10rem;
    background-color: var(--header-box);
}

main {
    flex: auto;
}

footer {
    height: 5rem;
    background-color: var(--footer-box);
}

/*h1 and h2s*/
h1{
    font-size: 5rem;
    text-align: center;
    padding-top: 3.5rem;
    letter-spacing: 0.025rem;
    font-weight: bold;
    color: #333333;

}

@media screen and (max-width: 480px) {

    html, body {
        min-width: 320px;
    }

    }

    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    p {
        margin-top: 1.5rem;
        font-weight: bold;
    }


/* Text box */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=button]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: var(--upload-box);
    
}

/* Buttons */
/*TRBL*/
.portal{
    padding: 2rem 3rem 2rem 3rem;
    margin-top: 5rem;
    background-color: var(--upload-button);
    font-size: x-large;
    font-weight: bold;
    border-radius: 20px;
}

.portal.student {
    margin-right: 2rem;
}

.portal.teacher{
    margin-left: 2rem;
}

a{
    text-decoration: none;
    color: black;
}

.portal:hover{
    background-color: var(--hover);
    cursor: pointer;
    /* font-weight: bolder; */
}


/*prompt*/

.textPrompt{
    height: 150px; 
    font-size: medium; 
    background-color: oldlace;
    border-style:solid;
    border-radius: 5px;
    overflow-wrap: break-word;
    border-width: 2px; 
    border-color: black;
}

.mainBox{
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 90%;
    letter-spacing: 0.02rem;
}

label{
    background-color: var(--fileUpload);
    padding: 0.3rem;
    font-family: 'Roboto Slab', serif;
    border-radius: 0.3rem;
    border-style: solid;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 2rem;
}


label:hover {
    background-color: var(--fileUploadHover);
}

input[type="file"]{
    display: none;
}

.Btn{
    background-color: var(--submit);
    padding: 0.3rem;
    font-family: 'Roboto Slab', serif;
    border-radius: 0.3rem;
    border-style: solid;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-weight: bold;
}

.Btn.homeBtn{
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    background-color: var(--homeHover);
}

.Btn.homeBtn:hover{
    background-color: var(--home);
}


.Btn:hover{
    background-color: var(--submitHover);
}

.Btn.student{
    padding: 0.7rem 1rem 0.7rem 1rem;
}

ul#menu li {
    display:inline;
    margin-top: 2rem;
}


/*Radio buttons*/
.radioBts{
    padding: 0; 
    margin: 0;
    background-color: transparent;
    color: var(--font-color);
    border: none;
}

.radioBts:hover {
    background-color: transparent;
}

span.keep-together{
    white-space: nowrap ;
}


