<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/main.css" />
	<noscript><link rel="stylesheet" href="../static/assets/main.css" /></noscript>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
    </style>
    <title>Au-Delà</title>
</head>

<body>
    <header>
    <div style="margin-top:2rem">
    <center>
        <img src="../static/coding.png" alt="Logo" width="60px" style="display:inline;margin-right:25px;">
        <h1 style="display:inline;">Au-Delà</h1>
    </center>
    </div>
    </header>
    <main>
        <center>
            <p>
                Welcome to Au-Delà! Click on either the student or the teacher
                portal to begin.
                <br>
                <br>
                <i>Made with <u><a href="https://openai.com/blog/openai-codex/">OpenAI Codex.</a></u></i>
            </p>
        </center>
        <div class="button">
            <center>
            <a href=student><button class="submit portal student">Student</button></a>
            <a href=teacher><button class="submit portal teacher">Teacher</button></a>
            </center>
        </div>
    </main>
    
    
</body>
</html>