<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/main.css" />
	<noscript><link rel="stylesheet" href="../static/assets/main.css" /></noscript>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/main.js')}}" type="text/javascript"></script>
    <title>Part Marks</title>
</head>
<body>
    <header>
        <a href='/'><button class="Btn homeBtn">Home</button></a>
        <h1>Part Marks</h1>
    </header>
    <main class="mainBox">
        <form action = "/student_results" method = "POST" 
            enctype = "multipart/form-data">
            <!-- <input class="textPrompt" type="text" id="prompt" 
            style="width: 400px"  style="height: 200px"
            name="prompt"> -->
            <center>
            <div id="menu">
                
                <div style="display:flex;flex-direction:row;justify-content:center;position:relative">
                    
                    <div style="padding: 25px 0; position:relative">
                        <span class="keep-together"> Upload Code: 
                        <label for="1">Choose File</label></span>
                        <input type="file" name ="student_file" 
                        id="1" class="file-upload" style="display:none;"/>
                        <p></p>
                    </div>
                    <div style="padding: 25px 25px">
                        Select Functionality:
                    </div>
                    <div>
                        <input type="radio" id="fix" name="functions" value="fix">
                        <label for="fix" class="radioBts">Fix Code</label><br>

                        <input type="radio" id="time" name="functions" value="time">
                        <label for="time" class="radioBts">Time Complexity</label><br>

                        <input type="radio" id="dosctring" name="functions" value="docstring">
                        <label for="docstring" class="radioBts">Py Docstring</label><br>

                        <input type="radio" id="stream" name="functions" value="stream">
                        <label for="stream" class="radioBts">Loop to Py Stream</label><br>

                        <input type="radio" id="list" name="functions" value="list">
                        <label for="list" class="radioBts">List to Loop</label><br>

                        <input type="radio" id="loop" name="functions" value="loop">
                        <label for="loop" class="radioBts">Loop to List</label><br>
                    </div>
                </div>
            </div>
            
            <br><br>
            
            <input type ="submit" name = "submit_button" class="Btn student"/>
            <input type ="reset" class="Btn student"/>
            </center>
        </form>  
    </main>    
</body>
</html>