<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/main.css" />
	<noscript><link rel="stylesheet" href="../static/assets/main.css" /></noscript>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
    </style>
    <title></title>
</head>
<body>
    <header class="innerHeader">
        <a href=index><button class="Btn homeBtn">Home</button></a>
    </header>
    <main class="mainBox">
        <form action = "/student_results" method = "POST" 
            enctype = "multipart/form-data">
            <!-- <input class="textPrompt" type="text" id="prompt" 
            style="width: 400px"  style="height: 200px"
            name="prompt"> -->
            <center>
            <ul id="menu">
                <li> Upload Code: 
                <input type = "file" name = "student_file" id="1"
                /><label for="1">Choose File</label></li>
                <li>Select Funtionality: </li>
            </ul>
            
            <br><br>
            
            <input type = "submit" class="Btn student"/>
            <input type = "reset" class="Btn student"/>
            </center>
        </form>  
    </main>    
</body>
</html>