<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/main.css" />
	<noscript><link rel="stylesheet" href="../static/assets/main.css" /></noscript>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
    </style>
    <title></title>
</head>
<body>
    <header class="innerHeader">
    </header>
    <main class ="mainBox">
        <form action = "/display" method = "POST" 
            enctype = "multipart/form-data">
            Prompt <br>
            <input class="textPrompt" type="text" id="prompt" 
            style="width: 400px"  style="height: 200px"
            name="prompt">
            <br><br>
            Student Solution 

            <input type = "file" name = "file1" 
            id="fileUpload"/><label for="fileUpload">Choose File</label>
            
            <br><br>
            Working Solution <input type = "file" name = "file2" 
            id="fileUpload" /><label for="fileUpload">Choose File</label>
            
            <br><br>
            <input type = "submit" class="Btn"/>
            <input type = "reset" class="Btn"/>
        </form>  
    </main>
    
</body>
</html>